pipeline/SQLtoAZSQL1.json
{
	"name": "SQLtoAZSQL1",
	"properties": {
		"activities": [
			{
				"name": "Lookuptablelist",
				"description": "To Lookupvalues for all tables. Dev2",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT TABLE_SCHEMA, TABLE_NAME FROM information_schema.TABLES WHERE TABLE_SCHEMA = 'dbo' and TABLE_NAME like '%emp%';",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SqlServerTableSource",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "TriggerPipeline",
				"description": "Trigger Pipeline, Dev2.",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Lookuptablelist",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "SQLtoAZSQL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": false,
					"parameters": {
						"tablelist": {
							"value": "@activity('Lookuptablelist').output.value",
							"type": "Expression"
						}
					}
				}
			}
		],
		"annotations": []
	}
}